<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/pop-up.css" rel="stylesheet">
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>

</head>

<body>
<center>
<div class="popup1 popupActive">
    <h2>
        警告
    </h2>
    <p>你来到了没有内容的荒原，点击下方的“确定”返回主页。</p>
    <button type="button" class="btn btn-primary" onclick="window.location.replace(window.location.origin)">确定</button>
</div>
</center>


</body>

</html>