<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/pop-up.css" rel="stylesheet">
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <style type="text/css">
        table,
        tr,
        td {
            border: 1px solid black;
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="container">
        <form>
            <label for="name">姓名：</label>
            <input type="text" name="name" id="name" />
            <label for="id">学号：</label>
            <input type="text" name="id" id="id" />
            <input type="submit" value="查询" class="btn btn-primary btn-sm" />
        </form>
        <a href="/add">新增数据</a>
        <a href="/updateAge">批量修改年龄</a>
        <br>
        <form id="deleteForm" action="/delete_all" , method="post">
            <button type="button" onclick="toggle()">批量删除</button>
            <table>
                <tr>
                    <td></td>
                    {% for d in desp %}
                    <td>{{ d }}</td>
                    {% endfor %}
                    <td>修改</td>
                    <td>删除</td>
                </tr>
                {% for item in results %}
                <tr>
                    <td>
                        <input type="checkbox" , name="ids" , value="{{ item[0] }}">
                    </td>
                    {% for v in item %}
                    <td>{{ v }}</td>
                    {% endfor %}
                    <td><a href="/update?id={{ item[0] }}">修改</a></td>
                    <td><a href="/delete/{{ item[0] }}">删除</a></td>
                </tr>
                {% endfor %}
            </table>
        </form>
        <div>
            <button onclick="window.location.href='{{ url_for('index', page=1) }}'">首页</button>

            {% if page > 1 %}
            <button onclick="window.location.href='{{ url_for('index', page=page-1) }}'">上一页</button>
            {% endif %}

            {% for i in range(page-2, page+3) %}
            {% if i > 0 and i <= pagination %} {% if i !=page %} <button
                onclick="window.location.href='{{ url_for('index', page=i) }}'">{{ i }}</button>
                {% else %}
                <button disabled>{{ i }}</button>
                {% endif %}
                {% endif %}
                {% endfor %}

                {% if page < pagination %} <button onclick="window.location.href='{{ url_for('index', page=page+1) }}'">
                    下一页</button>
                    {% endif %}

                    <button onclick="window.location.href='{{ url_for('index', page=pagination) }}'">尾页</button>
        </div>
        <a href="/reset">退出登录</a>
    </div>



    <div class="popup1">
        <h2>
            MIS系统提示
        </h2>
        <p>
            前端验证不通过
        </p>
        <button type="button" class="btn btn-primary">确定</button>
    </div>

    <div class=" popup2">
        <h2>
            MIS系统提示
        </h2>
        <p>
            后端验证不通过
        </p>
        <button type="button" class="btn btn-primary">确定</button>
    </div>

    <div class=" popup3">
        <h2>
            MIS系统提示
        </h2>
        <p>
            已成功修改!
        </p>
        <button type="button" class="btn btn-primary">确定</button>
    </div>

    <script>
        // if (从后端发送的信息存在，记为message)
        let blue = document.querySelector("#container");
        let popup1 = document.querySelector(".popup1");
        let popup2 = document.querySelector(".popup2");
        let popup3 = document.querySelector(".popup3");
        blue.classList.toggle("active");
        if (message === 'success')
            popup3.classList.toggle("popupActive");
        else
            popup2.classList.toggle("popupActive");

        function toggle() {
            let blue = document.querySelector("#container");
            let popup1 = document.querySelector(".popup1");
            let popup2 = document.querySelector(".popup2");
            let popup3 = document.querySelector(".popup3");

            //  if (message 不存在)
            let flag_front = true;

            // 前端验证

            if (!flag_front) {
                blue.classList.toggle("active");
                popup1.classList.toggle("popupActive");
            }
            else {
                document.getElementById('deleteForm').submit();
            }
        }

    </script>
</body>

</html>